<%= form_for @debit_note, :html => { :class => "form-horizontal debit_note", :onsubmit => 'selectSales();' } do |f| %>

  <% if @debit_note.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@debit_note.errors.count, "error") %> prohibited this debit note from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @debit_note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :customer_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.collection_select(:customer_id, @customers, :id, :name, {:prompt=>'Selecione o Cliente'}, {:id=>'customers_select'}) %>
    </div>
    <%=f.error_span(:customer_id) %>
  </div>

  <div class="form-group">
    <%= f.label :bank_info, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_area :bank_info, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bank_info) %>
  </div>
  <div class="form-group">
    <%= f.label :total_ammount, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :total_ammount, :class => 'form-control' %>
    </div>
    <%=f.error_span(:total_ammount) %>
  </div>

  <br>

  <div class="container" id="sales-form">

    <table>
      <tr valign="top">
        <td>
          <%= f.collection_select(:id, @sales_not_selected, :id, :customer_contract, {include_hidden: false}, {:multiple=>true, :id=>'s', :name=>'sales_not_selected', :style=>'width: 120px'}) %>
        </td>
        <td align="center" width="50px">
          <a href="#" onclick="listbox_moveacross('s', 'd')"><span class="glyphicon glyphicon-arrow-right"></span></a>
          <br/><br/>
          <a href="#" onclick="listbox_moveacross('d', 's')"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </td>
        <td>
          <%= f.collection_select(:id, @sales_selected, :id, :customer_contract, {include_hidden: false}, {:multiple=>true, :id=>'d', :style=>'width: 120px'}) %>
        </td>
      </tr>
    </table>
  
  </div>

  <table>
    <tr align="left">
      <td width="100">&nbsp;</td>
      <td>
        <%=  image_submit_tag('confirm2.png', :border => 0, :alt => '', :title => t("helpers.links.save", :default => 'Save'), :width => 40, :height => 40) %>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
        <%= link_to image_tag('back.png', :border => 0, :alt => '', :title => t("helpers.links.cancel", :default => 'Cancel'), :width => 40, :height => 40),
                    debit_notes_path
        %>
      </td>
    </tr>
  </table>
<% end %>

<script type="text/javascript">

// ------------------------------------------------------------------------------------------------------------------
//
// DualListBox source: http://viralpatel.net/blogs/listbox-select-all-move-left-right-up-down-javascript/
//
// ------------------------------------------------------------------------------------------------------------------

  function listbox_moveacross(sourceID, destID) {
  	var src = document.getElementById(sourceID);
  	var dest = document.getElementById(destID);
  	for(var count=0; count < src.options.length; count++) {
  		if(src.options[count].selected == true) {
  				var option = src.options[count];
          var newOption = document.createElement("option"); 
          
          newOption.value = option.value; 
          newOption.text = option.text; 
          newOption.selected = true; 
          
          try { 
            dest.add(newOption, null); //Standard 
            src.remove(count, null); 
            
          }
          
          catch(error) { 
            dest.add(newOption); // IE only 
            src.remove(count);
          } count--; 
  		  
  		} 
  	}
  }

  function selectSales() {
      var multi = document.getElementById('d');
      for (var i = 0; i < multi.options.length; i++) {
          multi.options[i].selected = true;
      }
  }

// -------------------------------------------------------------------------------------------

</script>
