<%= form_for @suplier, :html => { :class => "form-horizontal suplier" } do |f| %>

  <% if @suplier.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@suplier.errors.count, "error") %> prohibited this suplier from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @suplier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :complete_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :complete_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:complete_name) %>
  </div>
  <div class="form-group">
    <%= f.label :cnpj, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :cnpj, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cnpj) %>
  </div>
  <div class="form-group">
    <%= f.label :inscr_est, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :inscr_est, :class => 'form-control' %>
    </div>
    <%=f.error_span(:inscr_est) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :state, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :state, :class => 'form-control' %>
    </div>
    <%=f.error_span(:state) %>
  </div>
  <div class="form-group">
    <%= f.label :country, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :country, :class => 'form-control' %>
    </div>
    <%=f.error_span(:country) %>
  </div>
<!--
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                supliers_path, :class => 'btn btn-default' %>
    </div>
  </div>
-->

  <table>
    <tr align="left">
      <td width="100">&nbsp;</td>
      <td>
        <%=  image_submit_tag('confirm2.png', :border => 0, :alt => '', :title => 'Salvar', :width => 40, :height => 40) %>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
        <%= link_to image_tag('back.png', :border => 0, :alt => '', :title => 'Cancelar', :width => 40, :height => 40),
                    supliers_path
        %>
      </td>
    </tr>
  </table>

<% end %>
