<%- model_class = Suplier -%>
<div class="page-header">
  <h1><%=t("layout.supliers", :default => model_class.model_name.human.pluralize.titleize) %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:complete_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @supliers.each do |suplier| %>
      <tr>
        <td><%= link_to suplier.name, suplier_path(suplier) %></td>
        <td><%= suplier.complete_name %></td>
        <td><%= suplier.email %></td>
        <td><%= suplier.address %></td>
        <td><%= suplier.state %></td>
        <td><%= suplier.country %></td>
        <td>
          <!--
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_suplier_path(suplier), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      suplier_path(suplier),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          -->            
          <%= link_to image_tag('edit.png', :border => 0, :alt => '', :title => 'Alterar Fornecedor', :width => 20, :height => 20),
                      edit_suplier_path(suplier)
          %>
          </td>
          <td>
          <%= link_to image_tag('delete.png', :border => 0, :alt => '', :title => 'Apagar Fornecedor', :width => 20, :height => 20),
                      suplier_path(suplier),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_suplier_path,
            :class => 'btn btn-primary' %>
-->

<table>
  <tr align="left">
    <td>
        <%= link_to image_tag('new.png', :border => 0, :alt => '', :title => t("views.suplier.new", :default => 'New Suplier'), :width => 40, :height => 40),
                    new_suplier_path
        %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%= link_to image_tag('printer.png', :border => 0, :alt => '', :title => t("views.suplier.allReport", :default => 'Supliers Report'), :width => 40, :height => 40),
                              allSupliers_report_path,
                              method: :post
        %>
    </td>
  </tr>
</table>