<%- model_class = Suplier -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @suplier.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:complete_name) %>:</strong></dt>
  <dd><%= @suplier.complete_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cnpj) %>:</strong></dt>
  <dd><%= @suplier.cnpj %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inscr_est) %>:</strong></dt>
  <dd><%= @suplier.inscr_est %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @suplier.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @suplier.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @suplier.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @suplier.country %></dd>
</dl>

<!--
<%= link_to t('.back', :default => t("helpers.links.back")),
              supliers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_suplier_path(@suplier), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              suplier_path(@suplier),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
-->

  <table>
    <tr align="left">
      <td width="100">&nbsp;</td>
      <td>
        <%= link_to image_tag('back.png', :border => 0, :alt => '', :title => 'Voltar', :width => 40, :height => 40),
                    supliers_path
        %>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
          <%= link_to image_tag('edit.png', :border => 0, :alt => '', :title => 'Alterar Fornecedor', :width => 40, :height => 40),
                      edit_suplier_path(@suplier)
          %>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
          <%= link_to image_tag('delete.png', :border => 0, :alt => '', :title => 'Apagar Fornecedor', :width => 40, :height => 40),
                      suplier_path(@suplier),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza ?')) }
          %>
      </td>
    </tr>
  </table>
