<%= form_for @sale, :html => { :class => "form-horizontal sale" } do |f| %>

  <% if @sale.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @sale.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :rioexport_contract, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :rioexport_contract, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rioexport_contract) %>
  </div>
  <div class="form-group">
    <%= f.label :suplier_contract, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :suplier_contract, :class => 'form-control' %>
    </div>
    <%=f.error_span(:suplier_contract) %>
  </div>
  <div class="form-group">
    <%= f.label :customer_contract, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :customer_contract, :class => 'form-control' %>
    </div>
    <%=f.error_span(:customer_contract) %>
  </div>
  <div class="form-group">
    <%= f.label :shipping_company, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :shipping_company, :class => 'form-control' %>
    </div>
    <%=f.error_span(:shipping_company) %>
  </div>
  <div class="form-group">
    <%= f.label :bags_qty, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :bags_qty, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bags_qty) %>
  </div>
  <div class="form-group">
    <%= f.label :shipping_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :shipping_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:shipping_date) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label :product_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :product_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:product_type) %>
  </div>
  <div class="form-group">
    <%= f.label :comission_value, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :comission_value, :class => 'form-control' %>
    </div>
    <%=f.error_span(:comission_value) %>
  </div>
  <div class="form-group">
    <%= f.label :suplier_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.collection_select(:suplier_id, @supliers, :id, :name, include_blank: true) %>
    </div>
    <%=f.error_span(:suplier_id) %>
  </div>
  <div class="form-group">
    <%= f.label :customer_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.collection_select(:customer_id, @customers, :id, :name, include_blank: true) %>
    </div>
    <%=f.error_span(:customer_id) %>
  </div>

  <table>
    <tr align="left">
      <td width="100">&nbsp;</td>
      <td>
        <%=  image_submit_tag('confirm.png') %>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
        <%= link_to image_tag('cancel.png', :border => 0, :alt => '', :title => 'Cancelar', :width => 40, :height => 40),
                    sales_path
        %>
      </td>
    </tr>
  </table>
<% end %>
