<%- model_class = Sale -%>
<div class="page-header">
  <h1>
      <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  </h1>
</div>
<table class="table table-striped">
<!--<table class="table table-responsive">-->
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:customer_name) %></th>
      <th><%= model_class.human_attribute_name(:suplier_name) %></th>
      <th><%= model_class.human_attribute_name(:shipping_company) %></th>
      <th><%= model_class.human_attribute_name(:shipping_date) %></th>
      <th><%= model_class.human_attribute_name(:product_type) %></th>
      <th colspan="3"><div align="center"><%=t '.actions', :default => t("helpers.actions") %></div></th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= link_to sale.id, sale_path(sale) %></td>
        <td><%= sale.customer.name %></td>
        <td><%= sale.suplier.name %></td>
        <td><%= sale.shipping_company %></td>
        <td><%= sale.shipping_date %></td>
        <td><%= sale.product_type %></td>
        <td>
          <!--
          <'%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sale_path(sale), :class => 'btn btn-default btn-xs' %>
          <'%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sale_path(sale),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <'%= link_to t('.print', :default => t("helpers.links.print")),
                      sale_report_path(sale),
                      method: :post,
                      :class => 'btn btn-primary' %>
          -->
          <%= link_to image_tag('edit.png', :border => 0, :alt => '', :title => 'Alterar Venda', :width => 20, :height => 20),
                      edit_sale_path(sale)
          %>
        </td>
        <td>
          <%= link_to image_tag('delete.png', :border => 0, :alt => '', :title => 'Apagar Venda', :width => 20, :height => 20),
                      sale_path(sale),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
          %>
        </td>
        <td>
          <%= link_to image_tag('printer.png', :border => 0, :alt => '', :title => 'Imprimir Venda', :width => 20, :height => 20),
                      sale_report_path(sale),
                      method: :post
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--
<'%= link_to t('.new', :default => t("helpers.links.new")), new_sale_path, :class => 'btn btn-primary' %>

<'%= link_to t('.print', :default => t("helpers.links.print")), allSales_report_path, method: :post, :class => 'btn btn-primary' %>
-->
<table>
  <tr align="left">
    <td>
        <%= link_to image_tag('new.png', :border => 0, :alt => '', :title => 'Nova Venda', :width => 40, :height => 40),
                    new_sale_path
        %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
        <%= link_to image_tag('printer.png', :border => 0, :alt => '', :title => 'Todas as Vendas', :width => 40, :height => 40),
                              allSales_report_path,
                              method: :post
        %>
    </td>
  </tr>
</table>